.home {
  width: 100%;
  padding: 2rem 1rem;

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
    max-width: 144rem;
  }
}
