*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
}

html {
  font-size: 62.5%;
}
