:root {
  --font-family: 'Nunito Sans', sans-serif;
}

[data-theme='light'] {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 98%);
  --color-terciary: hsl(0, 0%, 52%);
  --color-text: hsl(200, 15%, 8%);
  --shadow: 0px 6px 5px -1px hsl(0, 0%, 52%);
  --shadow-input: 1px 2px 7px -1px hsl(0, 0%, 52%);
}

[data-theme='dark'] {
  --color-primary: hsl(209, 23%, 22%);
  --color-secondary: hsl(207, 26%, 17%);
  --color-terciary: hsl(0, 0%, 52%);
  --color-text: hsl(0, 0%, 100%);
  --shadow: 0px 6px 5px -1px hsl(0, 0%, 52%);
  --shadow-input: 1px 2px 7px -1px hsl(0, 0%, 52%);
}
