.header {
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--color-primary);
  box-shadow: var(--shadow);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
  }

  &__logo {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--color-text);
  }
}
